//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout

block Subject
	title 알파끄투 - 내 작은 글자 놀이터, 끄투 온라인
	
block CSS
	link(rel='stylesheet', href='https://cdn.alphakkutu.me/css/in_game_kkutu.css?v='+L('version'))

block JS
	script(type='text/javascript', src='https://cdn.alphakkutu.me/js/in_kkutu.min.js?v='+L('version'))

block Middle
	+separator(5)
	div(style='float: left; width: 100%;')
		div(style='float: left; padding-left: 70px;')
			h3#holder= L('title').replace(/\[.+?\]/g, "")
			img#logo(src='https://cdn.alphakkutu.me/img/kkutu/short_logo.png')
		div#menu-bar(style='float: right; margin-top: 25px;')
			a(target='_blank', href='https://cafe.naver.com/alphakkutu', style='background-color: #63A95B;') 네이버 카페
			a(target='_blank', href='https://discord.gg/tDZrRN2', style='background-color: #4078DC;') 디스코드
			a(target='_blank', href='https://open.kakao.com/o/gGIiNi9', style='background-color: #CCAC00;') 카카오톡 
			a(target='_blank', href='https://wiki.alphakkutu.me', style='background-color: #4B89DC;') 알끄위키
		div.jjoriping(style='margin-top: 40px;')
			img.jjoObj.jjoEyeL(src='https://cdn.alphakkutu.me/img/jjoeyeL.png', style='left: -270px;')
			img.jjoObj.jjoNose(src='https://cdn.alphakkutu.me/img/jjonose.png', style='left: -170px;')
			img.jjoObj.jjoEyeR(src='https://cdn.alphakkutu.me/img/jjoeyeR.png', style='left: -70px;')
			div.jjoDisplayBar(style='width: 325px; height: 85px;')
				button#game-start.jjo-display 게임 시작!
	div(style='float: right; margin-top: -120px; width: 50%;')
		div.server-list-box
			h3.server-list-title
				a#server-refresh
					+FA('sync-alt')
					+Expl(L('serverRefresh'))
				label= L('serverList')
				label#server-total(style='color: #AAA; font-size: 13px;')
			div#server-list
	+separator(5)
	div(style='float: right; width: calc(50% - 78px);')
		div(style='float: right; width: 100% ; background-color: #00D8FF; color: black;')
			font(size=2, style='color: white;') &nbsp;업데이트 내역
		br
		div(style='float: right; width: 100%; background-color: #FFFFFF;')
			iframe#kkutu-bulletin(width='100%', height='400px', src='https://cdn.alphakkutu.me/kkutu/bulletin.html?v='+L('version'))

	div(style='float: left; width: calc(50% - 80px); margin-left: 5px;')
		div(style='float: right; width: 100% ; background-color: #00D8FF; color: black;')
			font(size=2, style='color: white;') &nbsp;이벤트
		br
		div(style='float: right; width: 100%; background-color: #FFFFFF;')
			iframe#kkutu-bulletin(width='100%', height='200px', src='https://cdn.alphakkutu.me/kkutu/event.html?v='+L('version'))
	div(style='float: left; width: calc(50% - 80px); margin-left: 5px;')
		div(style='float: right; width: 100% ; background-color: #00D8FF; color: black;')
			font(size=2, style='color: white;') &nbsp;공지사항
		br
		div(style='float: right; width: 100%; background-color: #FFFFFF;')
			iframe#kkutu-bulletin(width='100%', height='171.5px', src='https://cdn.alphakkutu.me/kkutu/notice.html?v='+L('version'))
	+separator(10)
	+Product('AD')
		script(async='', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
		// 알파끄투
		ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-7809351121829453', data-ad-slot='6241940141')
		script.
			(adsbygoogle = window.adsbygoogle || []).push({});
block Bottom
	<a href="https://cafe.naver.com/aube123"><img src="https://cdn.alphakkutu.me/ad/aube.png" title="광고"></a>
	<a href="#"><img src="https://cdn.alphakkutu.me/ad/default.png" title="광고"></a>
	<a href="#"><img src="https://cdn.alphakkutu.me/ad/default.png" title="광고"></a>
	<a href="#"><img src="https://cdn.alphakkutu.me/ad/default.png" title="광고"></a>
	<a href="#"><img src="https://cdn.alphakkutu.me/ad/default.png" title="광고"></a>
	div.bottom-legal!= L('License')
	div.bottom-legal!= L('Dictionary')
	div.bottom-legal!= L('Copyright')