//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout

block Subject
	title= L('title')

block CSS
	link(rel='stylesheet', href='/css/in_game_kkutu.css')

block Middle
	+separator(5)
	div(style='float: left; width: 200px;')
		div.logo(style='float: center; margin-top: 0px; width: 0px;')
				img#logo(src='/img/kkutu/short_logo.png')
		div.jjoriping(style='margin-top: 0px;')
				button#game-start.jjo-display= L('gameStart')
	div(style='float: center; margin-top: 100px; width: 200px;')
		div.server-list-box
			h3.server-list-title
				a#server-refresh
					+FA('refresh')
					+Expl(L('serverRefresh'))
				label= L('serverList')
				label#server-total(style='color: #AAA; font-size: 12px;')
			div#server-list
	div(style='float: left; width: calc(306px - 4px); border: 1px solid #000; margin-top: -200px; background-color: #EEE;')
		iframe#check(width='300px', height='300px', src='portal/update.html')
	div(style='float: left; width: calc(338px - 4px); border: 1px solid #000; margin-top: 50px; background-color: #EEE;')
		iframe#check(width='330px', height='232px', src='portal/discord.html')
	div(style='float: left; width: calc(280px - 4px); border: 1px solid #000; margin-top: 50px; background-color: #EEE;')
		iframe#check(width='280px', height='232px', src='portal/GM_list.html')
	+separator(10)

block Bottom
	div.bottom-legal!= L('dictionarySupport')
	div.bottom-legal!= L('etcSupport')