//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
include module

- if(LANG == undefined) LANG = locals.locale;

doctype html
html
	head
		// link(rel='canonical' href='.')
		link(rel='stylesheet', href='https://cdn.kkutu.xyz/css/in_game_kkutu.css?v='+L('version'))
		block Subject
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		script(type='text/javascript').
			function getObject(v, i){
				Object.defineProperty(v, i, { value: v[i], writable: false });
			}
			getObject(window.WebSocket, "send");
			getObject(window.WebSocket, "onmessage");
			getObject(window, "WebSocket");
		block Search
			meta(name='description', content=LANG['meta_desc'] || L('META_DESC'))
			meta(name='keywords', content=LANG['meta_keys'] || L('META_KEYS'))
		block OpenGraph
			meta(property='og:image', content=locals.ogImage || L('OG_IMAGE'))
			meta(property='og:url', content=locals.ogURL || L('OG_URL'))
			meta(property='og:title', content=locals.ogTitle || L('OG_TITLE'))
			meta(property='og:description', content=locals.ogDescription || L('OG_DESC'))
			meta(property='og:type', content="website")
			meta(property='og:site_name', content="끄투 온라인")
		block TwitterCard
			meta(property='twitter:image', content=locals.ogImage || L('OG_IMAGE'))
			meta(property='twitter:title', content=locals.ogTitle || L('OG_TITLE'))
			meta(property='twitter:description', content=locals.ogDescription || L('OG_DESC'))
			meta(property='twitter:creator', content="@hatty163")
			meta(property='twitter:type', content="website")
		+PageHead()
			block Preload
		block CSS
		block JS
	
	body(style='min-width: 640px;')
		h1(hidden) 알파끄투, 끄투 온라인, 끄투, 끝말잇기, 쿵쿵따, 타자연습, 그림퀴즈, 캐치마인드
		h2(hidden) 알파끄투, 끄투 온라인, 끄투, 끝말잇기, 쿵쿵따, 타자연습, 그림퀴즈, 캐치마인드
		h2(hidden) 알파끄투에서 어휘력의 제왕이 되어보세요.
		div#Top
			+Menu()
			div#global-notice
				div#gn-content
					include ../public/kkutu_head.html
			block Top
		div#Jungle
			span#mobile= locals.mobile
			span#summonerID= DATA._id
			#Background
			block Jungle
		div#Middle
			block Middle
		div#Bottom
			+separator(10)
			div.banner
				<a href="https://cafe.naver.com/town4you" target="_blank"><img src="https://cdn.kkutu.xyz/ad/aube.png" width="80px" height="32px" title="타운포유 온라인"></a>
				<a href="https://www.koreaminecraft.net" target="_blank"><img src="https://cdn.kkutu.xyz/ad/minecraft.png" width="80px" height="32px" title="한국 마인크래프트 포럼"></a>
				<a href="#"><img src="https://cdn.kkutu.xyz/ad/default.png" width="80px" height="32px" title="광고"></a>
				<a href="#"><img src="https://cdn.kkutu.xyz/ad/default.png" width="80px" height="32px" title="광고"></a>
				<a href="#"><img src="https://cdn.kkutu.xyz/ad/default.png" width="80px" height="32px" title="광고"></a>
				<a href="#"><img src="https://cdn.kkutu.xyz/ad/default.png" width="80px" height="32px" title="광고"></a>
				<a href="#"><img src="https://cdn.kkutu.xyz/ad/default.png" width="80px" height="32px" title="광고"></a>
				<a href="#"><img src="https://cdn.kkutu.xyz/ad/default.png" width="80px" height="32px" title="광고"></a>
			+separator(5)
			block Bottom