//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
//-
	볕뉘 수정사항:
	* Login 을 Passport 로 수행하기 위한 수정
extends m_layout

block Subject
	title= "알파끄투에 로그인하기 - 내 작은 글자 놀이터, 알파끄투! 끄투 온라인"
	link(rel='canonical' href='https://kkutu.xyz/login')
	link(rel='stylesheet' type='text/css' href='https://cdn.kkutu.xyz/css/in_login.css')
block Middle
	span#locale= JSON.stringify(LANG)
	div.login-with= locals.text ? L(locals.text) : L('loginWith')
	each val in loginList
		a(href="/login/" + val.vendor)
			button(style="color: " + val.fontColor + "; background-color: " + val.color + ";")= L(val.displayName)
	div.login-legal!= L('loginLegal')