-
	const PUBLIC = locals.published;
	
	var DATA = locals.data || {};
	var LANG = locals.locale;
	var SESSION = locals.session;

	function L(id){
		var R = LANG[id] || "(L#"+id+")", i;
		
		R = R.toString();
		for(i=1; arguments[i]; i++) R = R.replace(new RegExp("{V"+i+"}", 'g'), arguments[i]);
		return R.replace(/FA\{[^\}]+\}/g, _L_Replace);
	}
	function _L_Replace(seq){ return "<i class='fas fa-"+seq.slice(3, seq.length-1)+"'></i>"; }
	
	function zeroPadding(num, len){ var s = num.toString(); return "000000000000000".slice(0, Math.max(0, len - s.length)) + s; }
	function strcmp(s1, s2){ return (s1 == s2) ? 0 : ((s1 > s2) ? 1 : -1); }
	Date.prototype.toYYYYMMDD = function(){
		var i, res = [this.getFullYear(), this.getMonth() + 1, this.getDate()];
		
		for(i in res) res[i] = ((res[i] < 10) ? "0" : "") + res[i];
		return res.join("").toString();
	};

mixin Menu()
	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand-sub(href='https://kkutu.xyz',style='margin-left:10px;')
					img(src='https://cdn.jsdelivr.net/npm/kkutudotnet@latest/img/logo/wh_fullname_en.svg', width='73.6px', height='40px')
			ul.nav.navbar-nav.navbar-right
				div#account
					span#profile= SESSION.profile ? JSON.stringify(SESSION.profile) : '{}'
					span#dataPass
					span#shopData
					div#account-info

mixin MMenu()
	nav.m.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand-sub(href='https://kkutu.xyz',style='margin-left:10px;')
					img(src='https://cdn.jsdelivr.net/npm/kkutudotnet@latest/img/logo/wh_fullname_en.svg', width='73.6px', height='40px')
			ul.nav.m.navbar-nav.navbar-right
				div#account
					span#profile= SESSION.profile ? JSON.stringify(SESSION.profile) : '{}'
					div#account-info
mixin Image(c, url)
	div(class="jt-image "+c, style="background-image: url("+url+");")
		if block
			block

mixin FA(id)
	i(class="fas fa-"+id)

mixin separator(len)
	div(style="float: left; width: 100%; margin-top: "+len+"px;")
	
mixin PageHead(min)
	link(rel='shortcut icon', type='image/jpg' href='https://cdn.jsdelivr.net/npm/kkutudotnet@latest/img/logo/gr_symbol.svg')
	if !min
		link(rel='stylesheet', href=(locals.mobile && !locals.as_pc) ? 'https://cdn.jsdelivr.net/npm/kkutudotnet@latest/css/m_style.css?v='+L('version') : 'https://cdn.jsdelivr.net/npm/kkutudotnet@latest/css/style.css?v='+L('version'))
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/fontawesome.min.css')
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/solid.min.css')
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/kkutudotnet@latest/css/expl.css')
	script(src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js')
	script(type='text/javascript', src='https://kkutu.xyz/language/'+locals.page.replace("/", "_")+'/'+locals.lang+'.js?v='+L('version'))
	script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/kkutudotnet@latest/js/global.min.js?v='+L('version'))
	if block
		block
	link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/kkutudotnet@latest/css/in_'+locals.page.replace("/", "_")+'.css?v='+L('version'))
	script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/kkutudotnet@latest/js/in_'+locals.page.replace("/", "_")+'.min.js?v='+L('version'))
mixin SearchBox(arg1, arg2)
	meta(name='description', content=L('meta_desc', arg1, arg2))
	meta(name='keywords', content=L('meta_keys', arg1, arg2))

mixin Expl(text, width)
	- if(text == undefined) return;
	div.expl(style='width: '+(width ? (width + 'px') : 'initial'))
		if block
			block
		else
			h5= text

mixin Product(id)
	div(class=id+'Box Product', style='display: none')
		h5.product-title!= L(id)
		div.product-body
			if block
				block
			else
				h4= id

mixin GraphBar(c, min, val, max, bgc)
	div(class='graph '+c)
		div.graph-bar(style='width: '+((val-min) / (max-min) * 100)+'%;'+(bgc ? (' background-color: '+bgc+';') : ''))

mixin ChartBar(c, data)
	-
		var i, sum = 0, total = 100;
		
		for(i in data) sum += data[i].value;
		data[data.length - 1].last = true;
	
	div(class='chart '+c)
		- for(i in data)
			- var r = data[i].last ? total : (data[i].value / sum * 100);
			- total -= r;
			div.chart-bar.ellipse(style='width: '+r+'%; background-color: '+data[i].color+';')= data[i].label || ''
				+Expl(data[i].label ? (data[i].label + ' ' + r.toFixed(1) + '%') : undefined)

mixin CheckBox(id, text)
	div(style="height: 20px;width: 100%;display:block;")
		input(type="checkbox",id='checkbox-'+id,style="float:left;")
		label(for='checkbox-'+id,style="float:left;")= text
mixin Radio(id, text)
	div(style="height: 20px;width: 100%;display:block;")
		input(type="radio",id='radio-'+id,style="float:left;")
		label(for='radio-'+id,style="float:left;")= text