//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout

block Subject
	title 알파끄투 - 내 작은 글자 놀이터, 알파끄투! 끄투 온라인
	link(rel='canonical' href='https://kkutu.xyz')
block CSS
	link(rel='stylesheet', href='https://cdn.kkutu.xyz/css/in_game_kkutu.css?v='+L('version'))

block JS
	script(type='text/javascript', src='https://cdn.kkutu.xyz/js/in_kkutu.min.js?v='+L('version'))
block Middle
	+separator(5)
	div(style='float: left; width: 100%;')
		div(style='float: left; padding-left: 70px;')
			h3#holder= L('title').replace(/\[.+?\]/g, "")
			img#logo(src='https://cdn.kkutu.xyz/img/kkutu/short_logo.png', title='알파끄투 로고 - 끄투 온라인')
		div#menu-bar(style='float: right; margin-top: 25px;')
			a(target='_blank', href='https://cafe.naver.com/kkutuxyz', style='background-color: #78BE20;') 네이버 카페
			a(target='_blank', href='https://discord.gg/rnCSBWj', style='background-color: #4078DC;') 디스코드
			a(target='_blank', href='http://pf.kakao.com/_gxcsxeT', style='background-color: #CCAC00;') 카카오톡 
			a(target='_blank', href='https://wiki.kkutu.xyz', style='background-color: #4B89DC;') 알끄위키
		div.jjoriping(style='margin-top: 40px;')
			img.jjoObj.jjoEyeL(src='https://cdn.kkutu.xyz/img/jjoeyeL.png', title='쪼리핑 왼쪽 눈', style='left: -270px;')
			img.jjoObj.jjoNose(src='https://cdn.kkutu.xyz/img/jjonose.png', title='쪼리핑 코', style='left: -170px;')
			img.jjoObj.jjoEyeR(src='https://cdn.kkutu.xyz/img/jjoeyeR.png', title='쪼리핑 오른쪽 눈', style='left: -70px;')
			div.jjoDisplayBar(style='width: 325px; height: 85px;')
				button#game-start.jjo-display 게임 시작!
	
	div(style='float: right; margin-top: -120px; width: 50%;')
		div.server-list-box
			h3.server-list-title
				a#server-refresh
					+FA('sync-alt')
					+Expl(L('serverRefresh'))
				label= L('serverList')
				label#server-total(style='color: #AAA; font-size: 13px;')
			div#server-list
	+separator(5)
	//<table style="border-collapse:collapse;border-spacing:0;border-color:#bbb" class="tg"><tr><th style="font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;color:#ffffff;background-color:#44a342;text-align:center;vertical-align:top">제      명</th><th style="font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;color:#ffffff;background-color:#44a342;text-align:center;vertical-align:top">알파끄투</th><th style="font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;color:#ffffff;background-color:#44a342;text-align:center;vertical-align:top">신청자</th><th style="font-family:Arial, sans-serif;font-size:14px;font-weight:bold;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;color:#ffffff;background-color:#44a342;text-align:center;vertical-align:top">김도훈</th></tr><tr><td style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;color:#ffffff;background-color:#44a342;font-weight:bold;text-align:center;vertical-align:top">이용등급</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;color:#ffffff;background-color:#44a342;font-weight:bold;text-align:center;vertical-align:top">전체이용가</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;color:#ffffff;background-color:#44a342;font-weight:bold;text-align:center;vertical-align:top">등급분류번호</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;color:#ffffff;background-color:#44a342;font-weight:bold;text-align:center;vertical-align:top">제 GC-CC-NP-191023-001호</td></tr><tr><td style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;color:#ffffff;background-color:#44a342;font-weight:bold;text-align:center;vertical-align:top">등급분류 일자</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;color:#ffffff;background-color:#44a342;font-weight:bold;text-align:center;vertical-align:top">2019. 10. 23.</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;color:#ffffff;background-color:#44a342;font-weight:bold;text-align:center;vertical-align:top">제작·배급업신고번호</td><td style="font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:inherit;color:#ffffff;background-color:#44a342;font-weight:bold;text-align:center;vertical-align:top"></td></tr></table>
	div(style='float: left; width: calc(100% - 4px); border: 2px solid #CCC; margin-top: 10px; background-color: #EEE;')
		iframe#kkutu-bulletin(width='100%', height='400px', src='/docs/bulletin.html')
	+separator(10)
	//+Product('AD')
block Bottom
	div.bottom-legal!= L('License')
	div.bottom-legal!= L('Dictionary')
	div.bottom-legal!= L('Copyright')
	p(hidden).
		글자로 놀자! 끄투 온라인은 쪼리핑(JJoriping)의 1인 개발 온라인 오픈 소스 끝말잇기 게임입니다. 한국어 끝말잇기, 쿵쿵따, 타자 대결, 단어 대결, 십자말풀이, 그림퀴즈, 영어 끝말잇기, 끄투, 솎솎 등 다양한 게임 모드 (미니 게임으로 생각하면 편합니다.)를 지원하는 것이 특징입니다.
		기본적인 게임 방식은 차례를 이어 나가며 점수를 획득하고, 가장 많이 획득한 순서대로 순위가 매겨지는 간단한 방식입니다.
		현재는 원작자가 개발을 중단하여 프리 서버 게임으로 변경된 상태입니다. 그리고 그 서버 중 대표적인 서버가 바로 알파끄투입니다.